@media (min-width:768px) {
  .header .nav {
    display: block !important;
  }
}

@media(max-width:991px) {

  .entourage-section .people-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 0px;
  }


  .event-section .event-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 0px;
  }


  .entourage-section {
    align-items: flex-start;
  }
}


@media (max-width: 768px) {
  .header .logo {
    padding: 8px 15px;
  }

  .header .hamburger-btn {
    display: flex;
  }

  /* Hamburger button position */
  .header .container a {
    margin-right: 50%;
  }

  .header .nav {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #fff;
    border-top: 1px solid#ccc;
    display: none;
  }

  .header .nav ul {
    flex-direction: column;
  }


  .entourage-section .people-item {
    flex: 0 0 50%;
    max-width: 50%;

  }

  .event-section .event-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }

  .header .nav ul li {
    display: block;
    width: 100%;
    margin-left: 0;
  }

  .header .nav ul li a {
    color: #000;
    padding: 10px 0;
    flex: 2 0 100%;
  }

  .header .nav ul li a.active,
  .header .nav ul li a:hover {
    color: #c8ad7f;
  }

  .home-section .home-content h1 {
    font-size: 60px;
  }

  .about-us .couple {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }

  .about-us .couple:nth-child(2) {
    margin-top: 50px;
  }

  .about-us .couple:nth-child(2)::before {
    content: none;
  }

  .about-us .couple i.fa-heart {
    display: none;
  }
}





@media(max-width:574px) {
  .cwidth {
    width: 100%;

  }

  /* Our names */
  .home-section .home-content h1 {
    font-size: 65px;
  }

  /* Tick Counter Size */
  .home-section .home-content .tickcounter {
    width: 50%;
  }

  /* Ring Image */
  .home-section .home-content .img-icon img.ring {
    height: 28px;
  }

  /* SLIDE PICTURES */
  .home-section .slide {
    background-position: center;
    background-size: cover;

  }


  /* TITLES */
  .section-title h2 {
    font-size: 45px;
  }

  .about-us .couple h3 {
    font-size: 35px;
  }


  /* CARD TRANSITIONS */

  .card-1, .card-2 {
    transition: none;
  }

  .card-1:hover, .card-2:hover {
    transform: translate(0px);
  }

  /* ENTORURAGE  */
  .entourage-section .people-item {
    flex: 0 0 100%;
    max-width: 100%;
    gap: 2px;
  }


  /* FOOTER LOGO */
.footer .footer-content .couple-name{
width: 0px;
}
  .footer .footer-content .couple-name img {
    width: 85%;
    height: 85%;
    padding-top: 0px;
    left: 13px;
    top: 30px;
    overflow: hidden;
  }

  .footer .footer-content .couple-name h2 {
    line-height: 50px;
    font-size: 45px;

  }




}
